@import "../../base/mixins";
@import "../../settings";


.userlist__main {
  @include bordered-edges($grey_border, 1px);
  border-bottom: 1px $grey_border solid;
  grid-column: 1;
  border-radius : 5px;
  overflow-y: auto;
}

.userlist__inner {
  min-height: 100vh;
}


.userlist__user {
  @include display-flex($justify-content: left, $align-items : center);
  height: 5rem;
  width: 100%;
  border-top: 1px solid $grey_border;
}

.userlist__avatar {
  height: 70%;
  border-radius: 20px;
  margin: 20px;
}


.userlist__user:hover {
  background: #f0f0f0;
  cursor:  pointer;
  transition : background .3s ease-in-out;
}


.userlist__user:focus {
  background: #d9d9d9;
  cursor:  pointer;
  outline: none;
  transition: background .3s ease-in-out;
}
