/*html {
  font-size: 62.5%;
}*/

body, html {
  padding: 0;
  margin: 0;
  overflow: hidden;
}


.messages__container {
  overflow : auto;
  height: 100vh;
}

.message {
  display:grid;
  grid-template-columns: 1f 1fr 1fr;
}

.message--from_me {
  width : 30%;
  justify-content: center;
  grid-column : 3;
}

.message {
  grid-column: 1;
}
